---
layout: default
title: German Velasco
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      {% if post.external_url %}
        <h2 class='post-title'><a href="{{ post.external_url }}" ref="external">{{ post.title }}</a></h2>
      {% else %}
        <h2 class='post-title'><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {% endif %}
      <time datetime="{{ post.date | date_to_xmlschema }}" class='post-date'>{{
        post.date | date: "%B %d, %Y" }}</time>
      <div class='post-excerpt'>{{ post.excerpt }}</div>
    </article>
  {% endfor %}
</div>
