// Layout rules: Sections of the page.
// Holds modules together.

header {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #1E81B6;
  box-shadow: inset 0 1px 0 #1E81B6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #1E81B6;
  color: #fff;
  display: block;
  font: 200 24px proxima-nova-1,proxima-nova-2,"Helvetica Neue",Helvetica,sans-serif;
  padding: 36px;
  text-shadow: 0 -1px 0 #014163;
}

header a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin: 1rem;
  text-align: center;
}

@media only screen and (max-width: 380px){
  header {
    padding-left: 26px;
  }
}
