// Layout rules: Sections of the page.
// Holds modules together.

header {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #1E81B6;
  box-shadow: inset 0 1px 0 #1E81B6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  padding: $spacing-xl;
}

footer {
  margin: $spacing-m;
  text-align: center;
}
