$main-color: #1e81b6;  // change this color for further customization

$bg-color: white; // background-color

$blue: $main-color;
$darkest-blue: darken($blue, 10%);
$dark-blue: darken($blue, 5%);
$light-blue: lighten($blue, 25%);
$lightest-blue: lighten($blue, 50%);

$grey: #333;
$darkest-grey: darken($grey, 25%);
$dark-grey: darken($grey, 15%);
$light-grey: lighten($grey, 25%);
$lightest-grey: lighten($grey, 70%);

$text-color: #333; // #222
$link-color: $main-color;
$border-color: #e0e1e6;
$smoke-color: #fafafa;
$main-blue: $main-color;
$white: #fff;

// Typography

$font-family: 'Lato', 'sans-serif';
$font-size-xxl: 1.75em;
$font-size-xl: 1.50em;
$font-size-l: 1.25em; // font-size on desktop type screens
$font-size-m: $font-size-l * 0.9; // font-size under 942px wide screens
$font-size-s: $font-size-l * 0.7; // font-size under 642px wide screens

// Spacings

$spacing-xs: .2em;
$spacing-s:  $spacing-xs * 2;
$spacing-sm: $spacing-s + $spacing-xs;
$spacing-m:  $spacing-sm + $spacing-xs;
$spacing-ml: $spacing-m + $spacing-xs;
$spacing-l:  $spacing-ml + $spacing-s;
$spacing-xl: $spacing-l + $spacing-s;

// Other sizes

$text-max-width: 668px;
$text-width: 80%;
