<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- boostrap highlighting -->
        <link rel="stylesheet" href="/css/bootstrap.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
             
              <img id="gv-cartoon" src="images/gv_sib_cartoon.png" alt="German cartoon">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">Web Developer</a>


              <span id="social-media-btns">
                <a class="social-media-btn" href="http://germsvel.tumblr.com" target="_blank" title="German's tumblr"><img src="images/glyphicons_388_tumblr.png"></a>
                <a class="social-media-btn" href="http://twitter.com/germsvel" target="_blank" title="German's twitter"><img src="images/glyphicons_411_twitter.png"></a>
                <a class="social-media-btn" href="http://github.com/germsvel" target="_blank" title="German's github repo"><img src="images/glyphicons_401_github.png"></a>
                <a class="social-media-btn" href="http://www.linkedin.com/pub/german-velasco/40/188/702/" target="_blank" title="German's LinkedIn"><img src="images/glyphicons_397_linked_in.png"></a>
              </span>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
           
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
